{% extends 'admin.html.twig' %}

{% block title %}Users index
{% endblock %}

{% block container %}
	<h1>Animateurs index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Roles</th>
				<th>Surname</th>
				<th>Created_at</th>
				<th>Name</th>
				<th>Actif</th>
				<th>Validate</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>

			{% for user in users %}
				{% if user.roles == ["ROLE_ANIMATEUR","ROLE_USER"] %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.surname }}</td>
						<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.actif ? 'Yes' : 'No' }}</td>
						<td>{{ user.validate ? 'Yes' : 'No' }}</td>
						<td>
							<a href="{{ path('app_users_gestion_show', {'id': user.id}) }}">show</a>
							<a href="{{ path('app_users_gestion_edit', {'id': user.id}) }}">edit</a>
						</td>
					</tr>


				{% endif %}


			{% else %}
				<tr>
					<td colspan="16">no records found</td>
				</tr>
			{% endfor %}


		</tbody>
	</table>

{% endblock %}
