{% extends 'admin.html.twig' %}

{% block container %}

	<h1>{{ titreTable}}</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				
				<th>Prénom</th>
				<th>Nom</th>
				<th>Créé le</th>
		
				<th>Actif</th>
				<th>Valide</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			{% for user in users %}
				
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.surname }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.createdAt ? user.createdAt|date('d-M-Y H:i:s') : '' }}</td>
						<td>{{ user.actif ? 'Yes' : 'No' }}</td>
						<td>{{ user.validate ? 'Yes' : 'No' }}</td>
						<td>
							<a href="{{ path('app_users_gestion_show', {'id': user.id}) }}">Aperçu</a>
							<a href="{{ path('app_users_gestion_edit', {'id': user.id}) }}">| Edition</a>
						</td>
					</tr>


			{% else %}
				<tr>
					<td colspan="16">no records found</td>
				</tr>
			{% endfor %}


		</tbody>
	</table>

{% endblock %}
