{% extends 'admin.html.twig' %}
{% block dashboard %}
	<h2>Animateurs</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Créé le</th>
				<th>Actif</th>
				<th>Valide</th>
				<th>Actions</th>
			</tr>
		</thead>
		{% for user in usersAnimateurs|slice(0, 5) %}
			<tbody>
				<tr>
					<td>{{ user.surname }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('d-M-Y H:i:s') : '' }}</td>
					<td>{{ user.actif ? 'Yes' : 'No' }}</td>
					<td>{{ user.validate ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_users_gestion_show', {'id': user.id}) }}">Aperçu</a>
						<a href="{{ path('app_users_gestion_edit', {'id': user.id}) }}">| Edition</a>
					</td>
				</tr>


			{% else %}
				<tr>
					<td colspan="16">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>Parents</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Créé le</th>
				<th>Actif</th>
				<th>Valide</th>
				<th>Actions</th>

			</tr>
		</thead>
		<tbody>
			{% for user in usersParents|slice(0, 5) %}

				<tr>
					<td>{{ user.surname }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('d-M-Y H:i:s') : '' }}</td>
					<td>{{ user.actif ? 'Yes' : 'No' }}</td>
					<td>{{ user.validate ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_users_gestion_show', {'id': user.id}) }}">Aperçu</a>
						<a href="{{ path('app_users_gestion_edit', {'id': user.id}) }}">| Edition</a>
					</td>
				</tr>


			{% else %}
				<tr>
					<td colspan="16">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
