{% extends 'admin.html.twig' %}
{% block activites %}


	<h1>Liste des activités</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Heure activité</th>
				<th>Adresse</th>
				<th>Ville</th>
				<th>Code postal</th>
				<th>Status</th>
				<th>Minimum participants</th>
				<th>Titre</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for activity in activities %}
				<tr>
					<td>{{ activity.id }}</td>
					<td>{{ activity.description |slice(0, 100) }}...</td>
					<td>{{ activity.startOn ? activity.startOn|date('d-M-Y H:i') : '' }}</td>
					<td>{{ activity.adress }}</td>
					<td>{{ activity.city }}</td>
					<td>{{ activity.zipcode }}</td>
					<td>{{ activity.status }}</td>
					<td>{{ activity.minParticipants }}</td>
					<td>{{ activity.title }}</td>
					<td>
						<a href="{{ path('app_activities_gestion_show', {'id': activity.id}) }}">Aperçu</a>
						<a href="{{ path('app_activities_gestion_edit', {'id': activity.id}) }}">| Edition</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
