{% extends 'admin.html.twig' %}

{% block title %}Activities{% endblock %}
{% block showactivites %}

    <h1>Activities</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
            <tr>
                <th>Créé</th>
                <td>{{ activity.createdAt ? activity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure activité</th>
                <td>{{ activity.startOn ? activity.startOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ activity.adress }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ activity.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ activity.zipcode }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ activity.status }}</td>
            </tr>
            <tr>
                <th>Minimum participants</th>
                <td>{{ activity.minParticipants }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ activity.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activities_gestion_index') }}">Retour liste</a>

    <a href="{{ path('app_activities_gestion_edit', {'id': activity.id}) }}">Edition</a>

    {{ include('activities_gestion/_delete_form.html.twig') }}
{% endblock %}
