{% extends 'base.html.twig' %}

{% block title %}
	- Mon Compte
{% endblock %}

{% block body %}
	<h1>Mon Compte</h1>
		<h2 class="account-title">Mes informations</h2>

	<div class="user-info">
		<div class="account-avatar">
			<a href="{{ path('account_update')}}"><img src="
			{% if app.user.avatar is not empty %}
				{{ asset('uploads/avatars/' ~ app.user.avatar)}}
			{% else %}
				{{ asset('assets/img/avatar_test.png')}}
			{% endif %}	
			"></a>
		</div>
		<div>
			<ul>
				<li>{{ app.user.name }}</li>
				<li>{{ app.user.surname }}</li>
				<li>{{ app.user.alias }}</li>
				<li>{{ app.user.email }}</li>
				<li>{{ app.user.bio }}</li>
			</ul>
			<a href="{{ path('account_update')}}">Mettre à jour</a>
		</div>
	</div>


	<h2 class="account-title">Mes enfants</h2>
	<div class="childrens-type">
		<a class="btn-account" href="{{path('child_create')}}">Ajouter</a>
			{% if childrens is not empty %}
			{# Affiche la liste des enfants #}
			{% for child in childrens %}
			<p class="child-info">{{ child.name }}
				-
				{{ child.ageRange }}
				ans
				<a class="btn-account btn-second" href="{{ path('child_edit', {'id': child.id}) }}">Modifier</a>
			</p>
	</div>
		{% endfor %}
	{% endif %}

	<div class="user-activities">
		<h2 class="account-title">Mes activités</h2>
		{% if is_granted('ROLE_ANIMATEUR') %}
			<a class="btn-account" href="{{ path('activity_create') }}">Ajouter</a>
		{% endif %}
		<div>
			<p>Publiées</p>
			{% for activity in published %}
				<div class="activity-detail">
					<p>{{ activity.title }}
						/
						{{ activity.startOn | date("d-m-Y", "Europe/Paris") }}</p>
					<a class="btn-account " href="#">Voir</a>
					<a class="btn-account btn-second" href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
				</div>
			{% endfor %}

			<p>Projets</p>
			{% for activity in projects %}
				<div class="activity-detail">
					<p>{{ activity.title }}
						/
						{{ activity.startOn | date("d-m-Y", "Europe/Paris") }}</p>
					<a class="btn-account" href="#">Voir</a>
					<a class="btn-account btn-second" href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
